<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="spendings">SpendingMonitor</a>
        </div> <!-- .navbar-header -->

        <ul class="nav navbar-nav">
            <% if (viewName === 'spendings') { %>
                <li class="active"><a href="spendings">Spendings</a></li>
            <% } else { %>
                <li><a href="spendings">Spendings</a></li>
            <% } %>

            <% if (viewName === 'statements') { %>
                <li class="active"><a href="statements">Statements</a></li>
            <% } else { %>
                <li><a href="statements">Statements</a></li>
            <% } %>
        </ul>

        <form class="navbar-form navbar-right" method="GET" action="login">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-log-out"></span>
                Log Out
            </button>
        </form>

        <div class="navbar-text navbar-right">
            <span class="glyphicon glyphicon-user"></span>
            <%= userName %>
        </div> <!-- .navbar-text .navbar-right -->
    </div> <!-- .container --->
</nav>
