<!DOCTYPE html>
<html lang="en" ng-app="spendingsApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="public/components/angular/angular-csp.css">
    <link rel="stylesheet" type="text/css" href="public/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="public/css/spending_monitor.css">
    <title>Index - SpendingMonitor</title>
</head>
<body ng-controller="spendingsCtrl">
    <%- include('header_logged_in', {username: user.username}) %>
    <div class="container" ng-cloak>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="input-group">
                        <input class="form-control" uib-datepicker-popup="yyyy.MM.dd" is-open="datapickerOpened.addSpending" ng-model="addSpendingData.date" ng-click="openAddSpendingDatePicker($event)" readonly />
                        <label class="input-group-addon btn" ng-click="openAddSpendingDatePicker($event)">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </label>
                    </div> <!-- .input-group -->
                </div> <!-- .col-xs-12 .col-sm-2 -->

                <div class="col-xs-12 col-sm-4">
                    <input class="form-control" ng-model="addSpendingData.item" type="text" placeholder="Add new item" />
                </div> <!-- .col-xs-12 .col-sm-4 -->

                <div class="col-xs-12 col-sm-2">
                    <select class="form-control" ng-model="addSpendingData.category" ng-options="category as category for category in spendingCategories"></select>
                </div> <!-- .col-xs-12 .col-sm-3 -->

                <div class="col-xs-12 col-sm-3">
                    <div class="input-group">
                        <input class="form-control" ng-model="addSpendingData.amount" type="number" placeholder="Amount" />
                        <div class="input-group-btn">
                            <button class="btn btn-primary" ng-click="addSpending()">
                                Add
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div> <!-- .input-group-btn -->
                    </div> <!-- .input-group -->
                </div> <!-- .col-xs-12 .col-sm-6 -->
            </div> <!-- .row -->
        </div> <!-- .form-group -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <div class="form-inline">
                        <label for="monthpicker">Choose a month: </label>
                        <div class="input-group">
                            <input class="form-control" uib-datepicker-popup="yyyy.MM" datepicker-mode="'month'" min-mode="'month'" is-open="datapickerOpened.monthPicker" ng-model="spendingMonth" ng-change="monthChanged()" ng-click="openMonthPicker($event)" readonly />
                            <label class="input-group-addon btn" ng-click="openMonthPicker($event)">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </label>
                        </div> <!-- .input-group -->
                    </div> <!-- .form-inline -->
                </div> <!-- .text-center -->
            </div> <!-- .panel-body -->

            <table class="table table-striped table-hover table-condensed table-responsive">
                <thead class="thead thead-inverse">
                    <tr>
                        <th>Date</th>
                        <th>Item</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="spending in spendings track by spending._id">
                        <!-- simple row templating -->
                        <td ng-if="modifySpendingData._id !== spending._id">{{ spending.date | date:'yyyy.MM.dd'}}</td>
                        <td ng-if="modifySpendingData._id !== spending._id">{{ spending.item }}</td>
                        <td ng-if="modifySpendingData._id !== spending._id">{{ spending.category }}</td>
                        <td ng-if="modifySpendingData._id !== spending._id">{{ spending.amount }}</td>
                        <td ng-if="modifySpendingData._id !== spending._id">
                            <div class="btn-group" role="group">
                                <button class="btn btn-sm btn-default" ng-click="modifySpending(spending)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button class="btn btn-sm btn-default" ng-click="deleteSpending(spending)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div> <!-- .btn-group -->
                        </td>

                        <!-- editable row templating -->
                        <td ng-if="modifySpendingData._id === spending._id">
                            <div class="input-group">
                                <input class="form-control" uib-datepicker-popup="yyyy.MM.dd" is-open="datapickerOpened.modifySpending" ng-model="modifySpendingData.date" ng-click="openModifySpendingDatePicker($event)" readonly />
                                <label class="input-group-addon btn" ng-click="openModifySpendingDatePicker($event)">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </label>
                            </div> <!-- .input-group -->
                        </td>
                        <td ng-if="modifySpendingData._id === spending._id">
                            <input class="form-control" ng-model="modifySpendingData.item" type="text" placeholder="Modify item" />
                        </td>
                        <td ng-if="modifySpendingData._id === spending._id">
                            <select class="form-control" ng-model="modifySpendingData.category" ng-options="category as category for category in spendingCategories"></select>
                        </td>
                        <td ng-if="modifySpendingData._id === spending._id">
                            <input class="form-control" ng-model="modifySpendingData.amount" type="number" placeholder="Amount" />
                        </td>
                        <td ng-if="modifySpendingData._id === spending._id">
                            <div class="btn-group" role="group">
                                <button class="btn btn-sm btn-default" ng-click="saveModifying()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <button class="btn btn-sm btn-default" ng-click="cancelModifying()">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div> <!-- .btn-group -->
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-footer" ng-cloak>
                <div class="text-center">
                    <b>Total amount of spending: {{ total_amount }}</b>
                </div> <!-- .text-center -->
            </div> <!-- .panel-footer -->
        </div> <!-- .panel .panel-default -->
    </div> <!-- .container --->

    <script type="text/javascript" src="public/components/angular/angular.js"></script>
    <script type="text/javascript" src="public/components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="public/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="public/js/spendings.js"></script>
</body>
</html>
