<!DOCTYPE html>
<html lang="en" ng-app="statementsApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="public/components/angular/angular-csp.css">
    <link rel="stylesheet" type="text/css" href="public/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="public/css/spending_monitor.css">
    <title>Statements - SpendingMonitor</title>
</head>
<body ng-controller="statementsCtrl">
    <%- include('header_logged_in', {username: user.username}) %>
    <div class="container" ng-cloak>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="form-inline">
                                <label for="monthpicker">Choose a month: </label>
                                <div class="input-group">
                                    <input class="form-control" uib-datepicker-popup="yyyy.MM" datepicker-mode="'month'" min-mode="'month'" is-open="datapickerOpened.monthPicker" ng-model="statementMonth" ng-change="monthChanged()" ng-click="openMonthPicker($event)" readonly>
                                    <label class="input-group-addon btn" ng-click="openMonthPicker($event)">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </label>
                                </div> <!-- .input-group -->
                            </div> <!-- .form-inline -->
                        </div> <!-- .text-center -->
                    </div> <!-- .panel-body -->

                    <table class="table table-striped table-hover table-condensed table-responsive">
                        <thead class="thead thead-inverse">
                        <tr>
                            <th>Category</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="statement in statements">
                                <td>{{ statement.category }}</td>
                                <td>{{ statement.sum }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="panel-footer" ng-cloak>
                        <div class="text-center">
                            <b>Total amount of spending: {{ total_amount }}</b>
                        </div> <!-- .text-center -->
                    </div> <!-- .panel-footer -->
                </div> <!-- .panel .panel-default -->
            </div> <!-- .col-sm-12 .col-sm-8 .col-sm-offset-2 .col-lg-6 .col-lg-offset-3 -->
        </div> <!-- .row -->
    </div> <!-- .container --->

    <script type="text/javascript" src="public/components/angular/angular.js"></script>
    <script type="text/javascript" src="public/components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="public/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="public/js/statements.js"></script>
</body>
</html>
