/* COMMON */

.navbar .navbar-brand {
    font-size: 25px;
    cursor: pointer;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #D2E8F9;
}

/* LOGIN PAGE */

div .graph-image {
    background: url(../images/graph.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 300px;
    min-width: 300px;
    max-height: 1000px;
    max-width: 1000px;
}

.registration-form h1 {
    margin-bottom: 25px;
}

.registration-form input {
    margin-bottom: 10px;
}

.registration-form button {
    margin-top: 10px;
}
