<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="public/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="public/css/spending_monitor.css">
    <title>Index - SpendingMonitor</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">SpendingMonitor</a>
            </div> <!-- .navbar-header -->

            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Spendings</a></li>
                <li><a href="statements.html">Statements</a></li>
            </ul>

            <form class="navbar-form navbar-right" method="GET" action="login.html">
                <button class="btn btn-primary" type="submit">
                    Log Out
                    <span class="glyphicon glyphicon-log-out"></span>
                </button>
            </form>
        </div> <!-- .container --->
    </nav>
</body>
</html>
