<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="public/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="public/css/spending_monitor.css">
    <title>Login - SpendigMonitor</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">SpendingMonitor</a>
            </div> <!-- .navbar-header -->

            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username">
                    <input type="text" class="form-control" placeholder="Password">
                </div> <!-- .form-group -->
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div> <!-- .container --->
    </nav>
</body>
